<div class="row">
	<div class="span12">
		<h3>Model Overview {{activeModel.id+' '+activeModel.name}}</h3>
		<p>
    <div class="span3">
  		<strong>Number of Routes:</strong> {{totalRoutes}}<br>
  		<strong>Number of GTFS Trips:</strong> {{totalTrips}}<br>
  		<strong>Number of Active Stops:</strong> {{activeStops}}<br>
  		<strong>Number of Boardings:</strong> {{boardingTotal}}<br>
  		<strong>Number of Alightings:</strong> {{alightingTotal}}<br>
  		<strong>Number of Transit Trips:</strong> {{tripsTotal}}<br>
  		<br>
    </div>
    <div class="span3">
      <strong>Season:</strong> {{overview.season}}<br>
      <strong>Day of Week:</strong> {{overview.dow}}<br>
      <strong>Time:</strong> {{overview.time}}<br>
      <strong>Max Walk Distance (miles):</strong> {{overview.max_walk_distance/1609 | number:1}}<br>
      <strong>Walk Speed (mph):</strong> {{overview.walk_speed/1.60934 | number:1}}<br>
      <br><br>
      <br>
    </div>
    <div class="span8">
		<strong>Top 5 Boarded Stops</strong><p>
			<table class="table table-striped">
            <tbody><tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Stop ID</th>
              <th>Count</th>
            </tr>
            <tr ng-repeat="stop in modelData.boarding | limitTo:5">
              <td>{{$index+1}}</td>
              <td>{{stop.stop_name}}</td>
              <td>{{stop.on_stop_code}}</td>
              <td>{{stop.count}}</td>
            </tr>
          </tbody></table>

          
		<p><strong>Top 5 Alighting Stops</strong></P>
			<table class="table table-striped">
            <tbody><tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Stop ID</th>
              <th>Count</th>
            </tr>
            <tr ng-repeat="stop in modelData.alighting |  limitTo:5">
              <td>{{$index+1}}</td>
              <td>{{stop.stop_name}}</td>
              <td>{{stop.off_stop_code}}</td>
              <td>{{stop.count}}</td>
            </tr>
          </tbody>
      	</table>

      	<p><strong>Top 5 Routes</strong></P>
			<table class="table table-striped">
            <tbody><tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Count</th>
            </tr>
            <tr ng-repeat="route in modelData.routes |  limitTo:5">
              <td>{{$index+1}}</td>
              <td>{{route.route}}</td>
              <td>{{route.count}}</td>
            </tr>
          </tbody>
      	</table>
      </p>
		</div>
	</div>
</div>
