<div class="navbar navbar-inverse flush" ng-controller="HeaderCtrl">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
      </button>
      <a href="#fakelink" class="brand"><img class='header_logo' src="/admin/img/Login-Icon-Map.png" alt="AVAIL TDM"> AVAIL TDM</a>
      <div class="nav-collapse collapse" id="nav-collapse-03">
        <ul class="nav">
          <li>
            <a href="/ma_edit/" target="_blank">
              Market Area Editor
            </a>
          </li>
        </ul> <!-- /nav -->
        
        <ul class="nav pull-right">
          <li class="divider"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Settings <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <lin g-show="user.access_level == 3"><a  href="/admin/#/users/">Manage Accounts</a></li>
              <li><a href="/admin/#/user/edit/{{user.id}}">My Account</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul> <!-- /nav -->
        <ul class="nav pull-right" ng-show="active_run">
          <li>
            <a>Active Run:{{ trips_complete +" / "+ total_trips }}</a>
          </li>
        </ul>
        <form class="navbar-search form-search pull-right" action="" align="center">
          <div class="input-append">
            <input type="text" class="search-query span2" placeholder="Search">
            <button type="submit" class="btn btn-large">
              <i class="fui-search"></i>
            </button>
          </div>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>