<div class="row">
	<div class="span12">
		<h3>Home</h3>
		<p>
		  Welcome to AVAIL / NJTransit Transit Demand Modeling tools.<br><br>
		  <h4>Run a Model</h4>
		  To run new models first select the Market Area you wish to run a model for then click Run New Model nav. From here you can modify the model parameters and start a model run.<br><br>
		  <h4>Model Analysis</h4>
		  To view and analyze model output first select the market area you wish to analyze. This will load the list of completed modeling scenarios for that market area. Select the Active Model then navigate to Overview, Route, Stop or Map analysis.</br><br>
		 </p>
	</div>
</div>