<div class="row">
	<div class="span12">
		<h3>Run Model for {{ activeMarket.name }}</h3>
		<div class="control-group small">
            <input type="text" value="" placeholder="Run Title" class="span3" ng-model="runName">
        </div>
        <div class="row-fluid">
	        <div class="span4">
		       	<label>Season</label>
	    		<select ng-model="model_season">
	    			<option selected value='7/22/2013'>Summer 13(June)</option>
	    			<option disabled value='9/22/2013'>Fall 13(September)</option>
	    			<option disabled value='12/23/2013'>Winter (January)</option>
	    			<option disabled value='3/21/2014'>Spring 14(April)</option>	
	    		</select>

	    		<label>Day of Week</label>
	    		<select ng-model="dow">
	    			<option value='0'>Monday</option>
	    			<option value='1'>Tuesday</option>
	    			<option value='2'>Wednesday</option>
	    			<option value='3'>Thursday</option>
	    			<option value='4'>Friday</option>
	    			<option disabled value='5'>Saturday</option>
	    			<option disabled value='6'>Sundayday</option>
	    		</select>

	    		<label>Time</label>
	    		<select ng-model="model_time">
	    			<option value='0'>AM Peak</option>
	    			<option disabled value='1'>PM Peak</option>
	    			<option disabled value='2'>Full Day</option>
	    		</select>
				
				<label>Type</label>
	    		<select ng-model="model_type">
	    			<option selected value='CTPP2000' >CTPP 2000</option>
	    			<option value='LEHD5'>LEHD</option>
	    			
	    		</select>
			</div>
			
			 <div class="span4">
			 	<b>Open Trip Planner Settings</b>
		       	<label>Walk Distance (miles)</label>
		    		<input type="number" min=".5" max="5" step='.1' ng-model='walk_distance' value=1></input>
		    	 <label>Walk Speed (mph)</label>
		    		<input type="number" min="1" max="5" step='.1' ng-model='walk_speed' value=3></input>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<a ng-click="runModel()" class="btn btn-large btn-block btn-danger" ng-disabled="active_run">Run Model</a>
			</div>
		</div>
		<div class="row-fluid" ng-show="active_run">
			<div class="span8" id="model_output">
				{{ message +" active trip = "+ active_run}}
				{{ trips_complete +" / "+ total_trips }}
			</div>
			
		</div>
	</div>
</div>