<div class="row">
	<div class="span12">
		<h3>Run Model for {{ activeMarket.name }}</h3>
		<div class="control-group small">
            <input type="text" value="" placeholder="Run Title" class="span3" ng-model="runName">
        </div>
        <div class="row-fluid">
	        <div class="span4">
		       	<label>Run Date: <strong>{{dt | date:'shortDate' }}</strong></label>
		        <div >
		    		<datepicker ng-model="dt" show-weeks="false" starting-day="1" date-disabled="disabled(date, mode)"  max="'2015-06-22'"></datepicker>
		    		<p></p>
				</div>
			</div>
			<div class="span2">
				<label>AM Peak start:</label>
				<timepicker ng-model="AMstart" hour-step="hstep" minute-step="mstep" show-meridian="!ismeridian"></timepicker>
			</div>
			<div class="span2">
				<label>AM Peak end:</label>
				<timepicker ng-model="AMend" hour-step="hstep" minute-step="mstep" show-meridian="!ismeridian"></timepicker>
			</div>
			<!-- <div class="span4" style="height:150px">
				
			</div>
			<div class="span2">
				<label>PM Peak start:</label>
				<timepicker ng-model="AMstart" hour-step="hstep" minute-step="mstep" show-meridian="!ismeridian"></timepicker>
			</div>
			<div class="span2">
				<label>PM Peak end:</label>
				<timepicker ng-model="AMend" hour-step="hstep" minute-step="mstep" show-meridian="!ismeridian"></timepicker>
			</div> -->
		</div>
		<div class="row-fluid">
			<div class="span3">
				<a ng-click="runModel()" class="btn btn-large btn-block btn-danger">Run Model</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				{{ output }}
			</div>
		</div>

	</div>
</div>