<div class="row">
	<div class="span12">
		<h3>Manage Users</h3>
		
		  
		 <a href="/admin/#/user/new" class="btn btn-info padded-bottom"> New User </a>

		 <table class="table table-bordered table-hover ">
		 <thead>
		 <tr>
		 	<th>User ID</th>
		 	<th>User Name</th>
		 	<th>Email</th>
		 	<th>Name </th>
		 	<th>Access Level</th>
		 	<th>Delete </th>
		 </tr>
		</thead>
		<tbody>
		 <tr ng-repeat="user in users" >
		 	<td ng-click="edit(user.id)">{{ user.id }}</td>
		 	<td ng-click="edit(user.id)">{{ user.username }}</td>
		 	<td ng-click="edit(user.id)">{{ user.email }}</td>
		 	<td ng-click="edit(user.id)">{{ user.first_name +" "+ user.last_name }}</td>
		 	<td>{{ view_access(user.access_level) }}</td>
		 	<td><center><a href="" ng-click="delete(user.id,user.username)">X</a></center></td>
		 </tr>
		</tbody>
		</table>
	</div>
</div>